body {
        background: white;
        font-family: Helvetica, Arial, sans-serif;
}

#main {
	margin: auto;
	margin-top: 2em;
	width: 501px;
}

#graph {
	margin: auto;
	position: relative;
	width: 501px; height: 501px;
}

#gtest {
	position: absolute;
	top: 0;
	z-index: 1;
	opacity: 0.3;
}

#bayes {
	background: white;
	z-index: 0;
}

canvas {
	width: 500px;
	height: 500px;
	
	border-bottom: 1px solid black;
	border-left: 1px solid black;
}

#xcoord {
	width: 500px;
	bottom: -4em;
	left: 0;
	position: absolute;
}
#ycoord {
	height: 500px;
	width: 16px;
	-webkit-appearance: slider-vertical;
	position: absolute;
	left: -4em;
	top: 0px;
}

#xrange, #yrange {
	position: absolute;
	margin: 0;
	padding: 0;
	list-style: none;
}

#xrange { top: 501px; }

#xrange li {
	position: absolute;
	padding-left: 5px;
	border-left: 1px solid black;
}

#yrange {
	top: 0;
	height: 501px;
	left: -1.33em;
}

#yrange li {
	position: absolute;
	border-bottom: 1px solid black;
	text-align: center;
	width: 1.33em;
}

.x0 {left: 0;} 
.x_1 {left: 50px;}
.x_2 {left: 100px;}
.x_3 {left: 150px;}
.x_4 {left: 200px;}
.x_5 {left: 250px;}
.x_6 {left: 300px;}
.x_7 {left: 350px;}
.x_8 {left: 400px;}
.x_9 {left: 450px;}
.x1 {left: 500px;}

.y0 {bottom: 0;} 
.y_1 {bottom: 50px;}
.y_2 {bottom: 100px;}
.y_3 {bottom: 150px;}
.y_4 {bottom: 200px;}
.y_5 {bottom: 250px;}
.y_6 {bottom: 300px;}
.y_7 {bottom: 350px;}
.y_8 {bottom: 400px;}
.y_9 {bottom: 450px;}
.y1 {bottom: 500px;}

button {margin-top: 5em;}

#xlabel, #ylabel {
        position: absolute;
        width: 500px;
        text-align: center;
}

#xlabel { bottom: -4em; }

#ylabel {
        left: -4em;
        -webkit-transform-origin: top left;
        -webkit-transform: rotate(-90deg);

        -o-transform-origin: top left;
        -o-transform: rotate(-90deg);
        -moz-transform-origin: top left;
        -moz-transform: rotate(-90deg);
        -ms-transform-origin: top left;
        -ms-transform: rotate(-90deg);
}

#legend, #legend ul {
        margin-left: 0;
        padding-left: 0;
        list-style: none;
}

#legend ul {
        margin-bottom: 1em;
}

#legend ul li {
        width: 10em;
        list-style: none;
}

#legg1 {background-color: transparent;}
#legg2 {background-color: rgba(0,0,0,0.5);}

#legb1 {background-color: hsl(0, 50%, 50%);}
#legb2 {background-color: hsl(24, 50%, 50%);}
#legb3 {background-color: hsl(48, 50%, 50%);}
#legb4 {background-color: hsl(72, 50%, 50%);}
#legb5 {background-color: hsl(96, 50%, 50%);}
#legb6 {background-color: hsl(120, 50%, 50%);}


